<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="Syncfusion.Edit.WPF" version="16.3.0.29" targetFramework="net461" />
  <package id="Syncfusion.GridCommon.WPF" version="16.3.0.29" targetFramework="net461" />
  <package id="Syncfusion.Licensing" version="16.3.0.29" targetFramework="net461" />
  <package id="Syncfusion.SfSkinManager.WPF" version="16.3.0.29" targetFramework="net461" />
  <package id="Syncfusion.Shared.WPF" version="16.3.0.29" targetFramework="net461" />
  <package id="Syncfusion.Themes.Office2016Colorful.WPF" version="16.3.0.29" targetFramework="net461" />
  <package id="Syncfusion.Tools.WPF" version="16.3.0.29" targetFramework="net461" />
</packages>